<%- include('partials/header'); -%>

<header>
  <div class="doctor">
    <img src="/images/doctor.png" alt="">
  </div>
  <div class="headings">
    <h2>Our Specialized Doctors List</h2>
    <h3>By AT Groups</h3>
    <a href="/doctors" class="btn">View List</a>
  </div>
</header>


<%- include('partials/footer'); -%>
