<%- include('../partials/header'); -%>

<ul class="lists">
  <li class="list">
    <img src="/images/photo/tony.png" alt="doctor list icon" width="100" height="100">
    <h4>Tony Stark</h4>
    <p>Cardiology. Diabetes & Heart specialist</p>
  </li>
  <li class="list">
    <img src="/images/photo/captain.png" alt="doctor list icon" width="100" height="100">
    <h4>Captain America</h4>
    <p>Physical & Rehabilitation Specialist</p>
  </li>
  <li class="list">
    <img src="/images/photo/hulk.png" alt="doctor list icon" width="100" height="95">
    <h4>Hulk</h4>
    <p>Dermatology, Cosmetic & Laser Specialist</p>
  </li>
  <li class="list">
    <img src="/images/photo/spyder.png" alt="doctor list icon" width="100" height="95">
    <h4>Spyder Man</h4>
    <p>Cosmetic Dentistry Specialist & Surgeon</p>
  </li>
  <li class="list">
    <img src="/images/photo/strange.png" alt="doctor list icon" width="100" height="93">
    <h4>Dr. Strange</h4>
    <p>Interventional Cardiology Specialist</p>
  </li>
  <li class="list">
    <img src="/images/photo/thor.png" alt="doctor list icon" width="100" height="88">
    <h4>Thor Odinson</h4>
    <p>Medicine & Neuromedicine Specialist</p>
  </li>
</ul>

<%- include('../partials/footer'); -%>
